body{
background: linear-gradient(
rgba(0,0,0,0.75),
rgba(20,20,20,0.80)
),
url(chat.jpg);
background-position: center;
background-attachment: fixed;
background-size: cover;
color:white;
}


h1,h2{
    text-align: center;
}
nav{
background: linear-gradient(rgba(0, 0, 0, 0.508));
padding: 20px;
}
ul{
display: flex;
justify-content: center;
gap: 40px;

}
li{
list-style: none;
}
.theme{
font-size: 25px;
font-weight: bold;
color: white;
position: relative;
 font-family: "Shojumaru", system-ui;
 text-decoration: none;
}
.theme::after{
width: 0px;
height: 2px;
left: 0;
bottom:-5px;
position: absolute;
content: "";
transition: 0.4s;
background: gold;
}
.theme:hover::after{
width: 100%;
}
.theme:hover{
color: gold;
transform: scale(1.2) translateX(-5px) ;
text-shadow: 0 0 10px gold;    
}



}
footer{
font-weight: bold;
color: white;
font-size: 20px;
background:linear-gradient(rgba(0, 0, 0, 0.508));
padding: 20px;
text-align: center;    
margin-top: -15px;
}
.links{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,auto);
    gap: 10px;
}
.item{
    padding: 3px;
    text-align: center;
}
.links a{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color:aliceblue;
    text-transform: capitalize;
    transition: transform 0.3s ease,color 0.3s ease;
}
.links a:hover{
    color: gold;
    transform: scale(1.2) translateX(-5px) ;
    text-shadow: 0 0 10px gold;  
    transition: 0.4s;
}

